.header{
 
  position:absolute;
  width: 100%;
  height: 7%;
  top:0;
  left:0;
  
}
.items{
  position:absolute;
  right:120px;
  height: 100%;
  top:0px;
}
.hrefs a{
  font-size:13px;
  font-family: arial,sans-serif;
 position:relative;
 padding:15px;
 top:22px;
 text-decoration: none;
 color:black;
}
.menu-photo
{ 
  position:absolute;
  width: 20px;
  top:20px;
  left:150px;
}
.avatar-photo
{ 
  position:absolute;
  width: 35px;
  top:14px;
  left:200px;
  border-radius: 40px;
}